:root{
    --board-cell: 64vmin;
    --grid-size: 8;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-image: url('./media/images/bg-1.jpg');
    background-size: cover;
}

h1{
    height: 10vh; 
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-count{
    height: 5vh;
    width: 100vw;
    text-align: center;
    font-size: 1.2rem;
}

.game-body{
    height: 85vh;
    width: 100vw;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    height: var(--board-cell);
    width: var(--board-cell);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
}

#player{
    background-color: limegreen;
    z-index: 3;
}

.player{
    background-color: lime;
    z-index: 0;
}

.food{
    background-color: red;
    z-index: 2;
}