@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik+Pixels&display=swap');
:root{
    --board-cell: 64vmin;
    --grid-size: 8;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-image: url('./media/images/bg-1.jpg');
    background-size: cover;
}

h1{
    height: 10vh; 
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'rubik pixels','Courier New', Courier, monospace;
    color: white;
    font-size: 3rem;
}

#score-count{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'jersey 10','Courier New', Courier, monospace;
    color: white;
}

.game-body{
    height: 85vh;
    width: 100vw;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    height: var(--board-cell);
    width: var(--board-cell);
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    backdrop-filter: blur(5px);
    padding: 12px;
    border-radius: 6px;
}

#player{
    background-color: limegreen;
    z-index: 3;
    border-radius: 10%;
}

.player{
    background-color: lime;
    z-index: 0;
    border-radius: 40%;
}

.food{
    background-color: red;
    z-index: 2;
    border-radius: 100%;
}